<%= render 'shared/error_messages', :o => f.object %>
<div class="field">
  <%= f.label :description %><br />
  <%= f.text_field :description %>
</div>
<div class="field">
  <%= f.label :input %><br />
  <%= f.file_field :input %>
  <a href="#">Supported format</a>
</div>
